/* ---------------------------------------------------------------------------
 *  FILE:        Styles.css
 *  DESCRIPTION: Global Stylesheet for www.bodhilinux.com
 *  AUTHORS:     Jason Peel, Ken LaBuda, et al, Joris van Dijk.
 *  MODIFIED:    2010-11-29
 * ---------------------------------------------------------------------------
 
 
 NOTE THAT THIS FILE DIFFERS FROM THE ORIGINAL CLEARFIX, H6 AND H7 HEADERS ADDED FOR THE SAKE OF THE GUIDE!
 
 
 *  TABLE of CONTENTS:
 *  - GLOBAL
 *    - Headers
 *    - Tables
 *    - Links
 *    - Buttons
 *    - Lists
 *    - Quotes
 *    - Classes
 *      - mainlink
 *      - menu
 *  - WRAPPERS
 *  - LOGO
 *  - CONTENT
 *    - SLIDER1
 *    - MAINCONTENT
 *      - NEWSFEED
 *  - DLBTN
 *  - IRCBTN
 *  - FORUMBTN
 *  - FBTag
 *  - MAINCOLS
 *    - Headers
 *  - FOOTER
 *    - Headers
 *    - Footercols
 *  - COPYRIGHT
 *
 * ---------------------------------------------------------------------------
 *  NOTES:
 *    - Don't forget to set a foreground and background color on
 *       the 'html' or 'body' element!
 *    - Discuss any ISSUE tags cited in code
 * ----------------------------------------------------------------------------
 */
/* ----------------------------------------------------------------------------
 *  GLOBAL
 * ----------------------------------------------------------------------------
 */ @charset "UTF-8";

@font-face {
    font-family: "ubuntu";
    src: url('font/ubuntu-r-webfont.eot');
    src: local('ubuntu'),
	 url('font/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ubuntu-r-webfont.woff') format('woff'),
         url('font/ubuntu-r-webfont.ttf') format('truetype'),
         url('font/ubuntu-r-webfont.svg#UbuntuRegular') format('svg');
}
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 97%;
    line-height: 1.25;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    color: #ffffff;
    font-family: "ubuntu", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

img {
	padding:20px
}

/* ----------------------------------------------------------------------------
 * GLOBAL > HEADERS
 * ----------------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    vertical-align: baseline;
}

/* ----------------------------------------------------------------------------
 *  GLOBAL > TABLES
 * ----------------------------------------------------------------------------
 */
table {
    /*border-collapse: collapse;
    border-spacing: 0;*/
}

td {
    margin: 0;
    padding: 10;
    border: 5;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    vertical-align: baseline;
}

/* ----------------------------------------------------------------------------
 *  GLOBAL > CLASSES
 * ----------------------------------------------------------------------------
 */
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}


/* ----------------------------------------------------------------------------
 *  GLOBAL > CLASSES
 * ----------------------------------------------------------------------------
 */
.clear {
    clear: both;
}

.left {
    top: 25px;
    left: 15px;
    margin: 5px;
    width: 120px !important;
    height: 201px;
}

.right {
    right: 15px;
    bottom: 25px;
    margin: 5px;
    width: 120px !important;
    height: 201px;
}

/* ----------------------------------------------------------------------------
 *  GLOBAL > CLASSES > MAINLINK
 * ----------------------------------------------------------------------------
 */
.mainlink {
    font-family: Ubuntu; /* no .ttf */
    text-decoration: none;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    display: block;
}

a.mainlink:link, a.mainlink:visited, a.mainlink:active {
    color: #333;
}

a.mainlink:hover {
    color: #900;
}



/* ----------------------------------------------------------------------------
 *  CONTENT
 * ----------------------------------------------------------------------------
 */
#content {
    margin-bottom: 20px;
    colour: black;
    height: auto;
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content #rightcolumn {
    position: relative;
    display: block;
    margin: 15px 0 15px 15px;
    padding: 15px 0 15px 15px;
    width: 180px;
    height: 495px;
    float: left;
    background-image: url(images/webdesign/style/rightcolumn.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------------------------------------------------------------------------
 *  CONTENT > MAINCONTENT
 * ----------------------------------------------------------------------------
 */
 .clearfix {
	clear: both;
}
#content #maincontent {
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #000000;
    height: auto;
    
}

#content #maincontent h1 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 36px;
    margin-bottom: 15px;
    padding-top: 10px;
    color: #ff6600;
}

#content #maincontent h2 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 24px;
    margin-bottom: 5px;
    padding-top: 5px;
    color: #ff6600;
}

#content #maincontent h3 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 16px;
    margin-bottom: 15px;
    padding-top: 5px;
    color: #ff6600;
}

#content #maincontent h5 {
    font-family: Ubuntu; /* no .ttf */
    font-size: small;
    margin-bottom: 20px;
    padding-top: 10px;
}

/* e17 guide purposes */
#content #maincontent h6 {
    font-family: Ubuntu; /* no .ttf */
    font-size: 16px;
    margin-bottom:0px;
    padding-top: 5px;
    color: #ff6600;
}
#content #maincontent h7 {
    font-family: Ubuntu; /* no .ttf */
    margin-bottom:0px;
    padding-top: 5px;
    color: #ff6600;
}
/* ----------------------------------------------------------------------------
 *  ADDITIONS > CODE TAGS
 * ----------------------------------------------------------------------------
 */
.box{
   display:box;
   border: 1px;
   border-style:solid;
   border-color:#000;
   padding: 3px;
   margin:5px;
   background-color:#ff6600;
}

/* ----------------------------------------------------------------------------
 *  ORDERED LISTS
 * ----------------------------------------------------------------------------
 */

li {
    list-style: decimal-leading-zero;
    font-size: 1.5em;
    margin: 0 0 0 2em;
}

li span {
    font-size: 0.25em;
}
